.container {
  display: flex;
  flex-direction: row; /* Alinha os itens horizontalmente */
  justify-content: space-between; /* Espaça os containers igualmente */
  align-items: flex-start; /* Alinha os itens ao topo */
  padding: 20px;
  gap: 20px;
}

.containerLeiloes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  overflow-y: auto; /* Permite a rolagem */
  max-height: 100vh; /* Garante que o conteúdo não ultrapasse a altura da tela */
}

/* Esconde a barra de rolagem lateral */
.containerLeiloes::-webkit-scrollbar {
  display: none;
}

.userGreeting {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #4CAF50; 
  margin-top: 20px; 
  text-align: center; 
  padding: 10px; 
  background-color: #f1f1f1; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.containerBotoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 30%;
  position: sticky; /* Use sticky para que os botões se mantenham visíveis */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da borda direita */
  z-index: 1000; /* Garante que os botões fiquem sobre outros conteúdos */
}


.botoes {
  display: flex;
  gap: 10px;
}

.button,
.buttonCriar {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button {
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.buttonCriar {
  background-color: #28a745;
  color: white;
}

.buttonCriar:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Em telas pequenas, empilha os containers */
    align-items: center;
  }

  .containerLeiloes,
  .containerBotoes {
    width: 90%;
  }

  .containerBotoes {
    position: absolute; /* Ajuste para o comportamento de fixação em dispositivos móveis */
    right: 10px;
    top: 20px;
  }
}
